<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ShopEase Complete Automation Suite">

    <parameter name="browser" value="chrome"/>
    <parameter name="baseUrl" value="http://localhost:3000"/>

    <!-- ========== US0015: Product Listing Module ========== -->
    <test name="US0015 - Product Listing Module">
        <groups>
            <run>
                <include name="product-validation"/>
                <include name="product-navigation"/>
            </run>
        </groups>
        <classes>
            <class name="com.anuj.testcases.ProductDetailsValidationTest"/>
            <class name="com.anuj.testcases.NavigationTest"/>
            <class name="com.anuj.testcases.ProductListingTest"/>
        </classes>
    </test>

    <!-- ========== Authentication Module ========== -->
    <test name="Authentication Module">
        <classes>
            <class name="com.anuj.testcases.LoginTest"/>
            <class name="com.anuj.testcases.RegisterTest"/>
            <class name="com.anuj.testcases.LogoutTest"/>
        </classes>
    </test>

    <!-- ========== Navigation Module ========== -->
    <test name="Navigation Module">
        <classes>
            <class name="com.anuj.testcases.NavigationTest"/>
        </classes>
    </test>

    <!-- ========== US017: Add to Cart Module ========== -->
    <test name="US017 - Add to Cart Module">
        <classes>
            <class name="com.anuj.testcases.AddToCartTest"/>
        </classes>
    </test>

    <!-- ========== US019: Payment Flow Module ========== -->
    <test name="US019 - Payment Flow Module">
        <classes>
            <class name="com.anuj.testcases.PaymentFlowTest"/>
        </classes>
    </test>

</suite>